body, html {
	height: 100%;
    margin: 0;
    font-family	: sans-serif;
}
body {
	background: rgb(255, 115, 0);
	color: rgb(119, 255, 0);
	font-size: 14pt;
    padding: 20px;
}

#st1, #st2 {
	display: none;
}